.orderList{
    flex:2;
}
.numeric-input-container {
    align-items: center;
    width: 150px;

    border-radius: 4px;
    overflow: hidden;
}
.numeric-input::-webkit-outer-spin-button,
.numeric-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.numeric-input{
    border: 1px solid #ccc;
    -webkit-appearance: none;
    margin: 0;
}
.numeric-input-container button {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
}

.numeric-input-container button:hover {
    background-color: #e0e0e0;
}

.numeric-input-container input {
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    width: 60px;
    text-align: center;
}

.closeBtn{
    float: right;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}